<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="{% url 'superadminhome' %}">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
           
  
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#clients" aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
              Clients
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="clients" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="{% url 'new_client' %}">New Client</a>
                  <a class="nav-link" href="{% url 'all_clients' %}">All Clients</a>
              </nav>
          </div>
  
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#accounts" aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fa fa-university" aria-hidden="true"></i></div>
              Accounts
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="accounts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
  
              <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                
                  
                  
                  <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#income" aria-expanded="false" aria-controls="pagesCollapseAuth">
                      Income
                      <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                  </a>
                  <div class="collapse" id="income" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                      <nav class="sb-sidenav-menu-nested nav">
                          <a class="nav-link" href="{% url 'superadminregistration' %}">Registration</a>
                          <a class="nav-link" href="{% url 'renewal' %}">Renewal</a>
                         
                      </nav>
                  </div>
                  <a class="nav-link" href="{% url 'expenses' %}">Expenses</a>
  
                
                 
              </nav>
  
          </div>

          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#reports" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fa fa-university" aria-hidden="true"></i></div>
            Reports
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
         </a>
        <div class="collapse" id="reports" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">

            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
              
                
                <a class="nav-link" href="{% url 'all_clients' %}">All Clients</a>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#statements" aria-expanded="false" aria-controls="pagesCollapseAuth">
                    Account Statements
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="statements" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'superadminIncomeStatement' %}">Income Statement</a>
                        <a class="nav-link" href="{% url 'superadminExpenseStements' %}">Expense Statement</a>
                        <a class="nav-link" href="{% url "renewal" %}">Upcoming Renewal</a>
                        <a class="nav-link" href="{% url 'superadminBalanceStatement' %}">Balance Statement</a>
                       
                    </nav>
                </div>
               

              
               
            </nav>

        </div>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#settings" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fa fa-university" aria-hidden="true"></i></div>
            Settings
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
         </a>
        <div class="collapse" id="settings" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">

            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
              
             

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#sms" aria-expanded="false" aria-controls="pagesCollapseAuth">
                    SMS
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="sms" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="#">Send SMS</a>
                        <a class="nav-link" href="#">Auto SMS</a>
                        <a class="nav-link" href="#">SMS Log</a>
                        <a class="nav-link" href="{% url "smsbundle" %}">SMS Bundle Distribution</a>
                       
                    </nav>
                </div>
               

              
               
            </nav>

        </div>


          
       
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        {{user.name}}
    </div>
  </nav>