
{% extends 'dashboard/dashboard.html' %}

{% load crispy_forms_tags %}
{% block content %}
<br>

{% if statements %}
<div class="card mb-4 ml-4 mr-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Statemtents
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                  <th>Date</th>
                  <th>Client Name</th>
                  <th>Details</th>
                  <th>Transaction Type</th>
                  <th>Amount</th>
                  <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                  <th>Date</th>
                  <th>Client Name</th>
                  <th>Details</th>
                  <th>Transaction Type</th>
                  <th>Amount</th>
                  <th>Action</th>
                </tr>
            </tfoot>
            <tbody>
                {% for statement in statements %}
                <tr>
                  <td>{{ statement.date }}</td>
                  <td>{{ statement.party_name }}</td>
                  <td>{{ statement.details }}</td>
                  <td>{{ statement.transaction_type }}</td>
                  <td>{{ statement.amount }}</td>
                  <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h3 class="text-center alert alert-primary" role="alert">Currently, You don't have any Statements</h3>
{% endif %}



<div class="container">
    <div class="row">
      <div class="col-md-3  ml-3"><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Entry Transaction</button></div>
    </div>
  </div>
  
  
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        
        <div class="container">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                    <br>
                    <h3 class="text-center alert alert-primary" role="alert">Entry Transaction</h3>
                      <form method="post">
                        
                        {% csrf_token %}
        
                        <div class="row">
                          <div class="col-md-12">
                            {{ form|crispy }}
                          </div>
                        </div>
        
                        <div class="row">
                          <div class="col-md-2 offset-md-5">
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                            <br>
                            
                          </div>
                        </div>
                       
                      </form>
                  </div>
                </div>
              
          </div>
      </div>
    </div>
  </div>


{% endblock %}

