{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <a class="card" href="/all-cases">
      <div class="card-content">
        <span class="card-count">10</span>
        All Cases
        <i class="fas fa-info-circle"></i>
      </div>
    </a>
    <a class="card" href="/running-cases">
      <div class="card-content">
        <span class="card-count">3</span>
        Running Cases
        <i class="fas fa-info-circle"></i>
      </div>
    </a>
    <a class="card" href="/today-cases">
      <div class="card-content">
        Todays cases
        <i class="fas fa-info-circle"></i>
      </div>
    </a>
    <a class="card" href="/tomorrow-cases">
      <div class="card-content">
        Tomorrows cases
        <i class="fas fa-info-circle"></i>
      </div>
    </a>
    <a class="card" href="/decided-cases">
      <div class="card-content">
        Decided Cases
        <i class="fas fa-info-circle"></i>
      </div>
    </a>
    <a class="card" href="/abandoned-cases">
      <div class="card-content">
        Abandoned Cases
        <i class="fas fa-info-circle"></i>
      </div>
    </a>
    <a class="card" href="/not-updated-cases">
      <div class="card-content">
        Not Updated Cases
        <i class="fas fa-info-circle"></i>
      </div>
    </a>
    <a class="card" href="/todays-notes">
      <div class="card-content">
        Todays Notes
        <i class="fas fa-info-circle"></i>
      </div>
    </a>
  </div>

  <a class="bottom-card" href="/diary-statistics">
    <div class="bottom-card-content">
      Diary Statistics
      <i class="fas fa-info-circle"></i>
    </div>
  </a>
{% endblock %}
