{% extends 'superadmin/base.html' %}
{% block title %}All Clients {% endblock title %} 
{% load crispy_forms_tags %}
{% block content %}
<br>

      <div class="card mb-4 ml-4 mr-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            All Clients
           
        </div>
        <div class="card-body">
          {% if xyz %}
            <table id="datatablesSimple">
                <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Mobile</th>
                      <th>email</th>
                      <th>Registration Date</th>
                      <th>Renewal Date</th>
                      <th>No. of Clients</th>
                      <th>Current Status</th>
                      <th colspan="2">Action</th>
                     
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Mobile</th>
                      <th>email</th>
                      <th>Registration Date</th>
                      <th>Renewal Date</th>
                      <th>No. of Clients</th>
                      <th>Current Status</th>
                      <th colspan="2">Action</th>
                    </tr>
                </tfoot>
                <tbody>
                  {% for clients, no_of_clients, renewal_dates in xyz %}
                  <tr>
                            <td>{{clients.id}}</td>
                            <td>{{ clients.name }}</td>

                            <td>{{ clients.phone }}</td>

                            <td>{{ clients.email }}</td>

                            <td>{{clients.created_date|date:"d F Y" }}</td>

                            <td>{{ clients.renewal_date }}</td>
                           
                            <td>{{no_of_clients}}</td>

                            <td>{{clients.status}}</td>
                           
                            <td colspan="2"> 
                              
                              <form method="POST">
                                {% csrf_token %}
                              
                              <input type="hidden" name="client_id" value="{{clients.id}}">

                              {{update|crispy}} 
                              <input type="submit" class="btn btn-danger" value="Update">
                            </form>
                            </td>
                            
                            

                          
                  </tr>
                  {% endfor %}

                  
                </tbody>
            </table>
        </div>
      </div>
      {% endif %}
      

{% endblock %}
