{% extends 'superadmin/base.html' %}
{% block title %}Expenses {% endblock title %} 
{% load crispy_forms_tags %}
{% block content %}


  <br>
  {% if expenses %}
  <div class="card mb-4 ml-4 mr-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Expenses
       
    </div>
    <div class="card-body">
        <table id="expenses">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Date</th>
                  <th scope="col">Purpose</th>
                  <th scope="col">Amount</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Date</th>
                  <th scope="col">Purpose</th>
                  <th scope="col">Amount</th>
                </tr>
            </tfoot>
            <tbody>
              {% for expense in expenses  %}
              <tr>
                <th scope="row">{{expense.id}}</th>
                <td>{{expense.date}}</td>
                <td>{{expense.purpose}}</td>
                <td>{{expense.amount}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
  {% endif %}


  <div class="container">
    <div class="row">
      <div class="col-md-3  ml-3"><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Expenses Entry</button></div>
    </div>
  </div>
  
  
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        
       <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1"> 
            <br>
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                  <div class="col-md-12">{{expenses_form.purpose|as_crispy_field}} </div>
              </div>
              <div class="row">
                <div class="col-md-12">{{expenses_form.amount|as_crispy_field}}</div>
              </div>
            

              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4"><button type="submit" class="btn btn-success btn-block btn-lg">Save Expense</button> </div>
                  
              </div>

              
          </form>
            <br>
      
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>

{% endblock %}
