{% extends 'superadmin/base.html' %}
{% block title %}Packages {% endblock title %} 
{% load crispy_forms_tags %}
{% block content %}
<br>

  {% if packages %}
  <div class="card mb-4 ml-4 mr-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Packages
       
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Duration</th>
                  <th scope="col">Price</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Duration</th>
                  <th scope="col">Price</th>
                </tr>
            </tfoot>
            <tbody>
              {% for plan in packages  %}
              <tr>
                <th scope="row">{{plan.id}}</th>

                <td>{{plan.package_name}}</td>
                <td>{{plan.duration}} month(s)</td>
                <td>{{plan.price}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
  {% endif %}


  <div class="container">
    <div class="row">
      <div class="col-md-3  ml-3"><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Create Packages</button></div>
    </div>
  </div>
  
  
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        
       <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1"> 
            <br>
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                  <div class="col-md-12">{{form.package_name|as_crispy_field}} </div>
                  
                 
              </div>
              <div class="row">
                
                <div class="col-md-12">{{form.duration|as_crispy_field}}</div>
               
              </div>
              <div class="row">
                
                <div class="col-md-12">{{form.price|as_crispy_field}}</div>
               
              </div>
            

              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4"><button type="submit" class="btn btn-success btn-block btn-lg">Save Package</button> </div>
                  
              </div>

              
          </form>
            <br>
      
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>

{% endblock %}
