{% extends 'superadmin/base.html' %}
{% block title %}Renewal {% endblock title %} 
{% load crispy_forms_tags %}
{% block content %}
<br>



  {% if upcoming_renewal %}
  <div class="card mb-4 ml-4 mr-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Upcoming Renewal
       
    </div>
    <div class="table-responsive">
      <table class="table">
            <thead>
                <tr>
                  
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Registration</th>
                  <th scope="col">Expire Date</th>
                </tr>
            </thead>
           
            <tbody>
              {% for renew in upcoming_renewal  %}
              <tr>
                <th scope="row">{{renew.name}}</th>
                <td>{{renew.email}}</td>
                <td>{{renew.phone}}</td>
                <td>{{renew.date_joined}}</td>
                <td>{{renew.renewal_date}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-md-3  ml-3"><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Renewal Entry</button></div>
    </div>
  </div>
  <br>
  
  {% if renewal %}
  <div class="card mb-4 ml-4 mr-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Renewal
       
    </div>
    <div class="card-body">
        <table id="renewaltable">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Date</th>
                  <th scope="col">Name</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Next Renewal Date</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Date</th>
                  <th scope="col">Name</th>
                  <th scope="col">Amount</th>
                  <th scope="col"> Next Renewal Date</th>
                </tr>
            </tfoot>
            <tbody>
              {% for renew in renewal  %}
              <tr>
                <th scope="row">{{renew.id}}</th>
                <td>{{renew.date}}</td>
                <td>{{renew.name}}</td>
                <td>{{renew.amount}}</td>
                <td>{{renew.days}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
  {% endif %}


 
  
  
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        
       <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1"> 
            <br>
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                  <div class="col-md-12">{{form.name|as_crispy_field}} </div>
                  
                 
              </div>
              <div class="row">
                
                <div class="col-md-12">{{form.amount|as_crispy_field}}</div>
               
            </div>
              <div class="row">
                
                <div class="col-md-12">{{form.days|as_crispy_field}}</div>
               
            </div>
            

              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4"><button type="submit" class="btn btn-success btn-block btn-lg">Save</button> </div>
                  
              </div>

              
          </form>
            <br>
      
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>

{% endblock %}
